<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <!-- <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
  <div class="container">

    <div class="container-fm-login">
      <div class="div-fm-login">
        <form class="fm-login" method="POST" action="/login">
          <h1 class="fm-h1-login">login</h1>
          <input class="txt" name="username" type="email" placeholder="E-mail" required>
          <input class="txt" name="password" type="password" placeholder="Senha" required>
          <button class="btn" type="submit">LOGIN</button>
        </form>
      </div>
    </div>


  </div>
</body>
</html>
