<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Mudar Senha</title>

    <!-- <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">


</head>
<body>
  <div class="container">

    <div class="container-fm-login">
      <div class="div-fm-login">
        <form class="fm-login" method="POST" action="/change-password">
            <h1 class="fm-h1-login">mudar a senha</h1>
            <!-- <input type="hidden" name="_csrf" id="csrf"> -->
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <label for="oldPassword">Digite a senha anterior</label>
            <input class="txt" name="oldPassword" type="password" placeholder="Senha Antinga" required>
            <label for="newPassword">Digite a nova senha</label>
            <input class="txt" name="newPassword" type="password" placeholder="Senha" required>
            <label for="confirmPassword">Confirme a nova senha</label>
            <input class="txt" name="confirmPassword" type="password" placeholder="Confirmar Senha" required>
            <button class="btn" type="submit">LOGIN</button>
        </form>
      </div>
    </div>
  </div>

  <script src="/js/csrf-token.js"></script>


</body>
</html>
